# Python Basics

In [14]:
## this is a comment

In [1]:
# Shift + enter
print("Hello World")

Hello World

In [2]:
print("another")

another

creating variables

In [3]:
a = 10

In [4]:
print(a)

10

In [5]:
type(a)

int

In [6]:
a = "cool"

In [7]:
print(a)

cool

In [8]:
type(a)

str

In [9]:
a = 5.6

In [10]:
print(a)

5.6

## Control Flow - IF else

In [11]:
a = 9

if a>10:
    print("a is greater than 10")
elif a<5:
    print("a is smaller than 5")
else:
    print("no case")

no case

## Iterations

prints all number from 0 - 9

In [13]:
i =0

while i<10:
    print(i, end=", ")
    i+=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [24]:
for i in range(3, 21):
    if i%2!=0:
        print(i, end=", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

prints all odd numbers between 3 - 20

In [25]:
for i in range(3, 21, 2 ):
    print(i, end=", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

## Functions

In [33]:
def func_name(a,b):
    print("hello from function")
    print( a*b )

In [34]:
func_name(10,14)

hello from function
140

# Data Structures
- list
- tuple
- dictionary
- set

### Lists

In [35]:
li = [5,7,2,9,10,1]

In [36]:
print(li)

[5, 7, 2, 9, 10, 1]

In [37]:
type(li)

list

In [38]:
li[0]

5

In [42]:
li[5]

1

In [43]:
li[-1] # access last element

1

In [44]:
li[-2] # access second last element

10

In [46]:
li[1 : 4 ] # access all elements between index 1 (inclusive) to index 4 (exclusive)

[7, 2, 9]

In [47]:
st = "this is a string"

In [54]:
st[1 : 11] # slicing of a string

'his is a s'

In [56]:
li2 = ["String", False, 5,8,2, 5.0]

## Tuple

In [58]:
t = (6,8,2,90)

In [64]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [17]:
dic = {
    "samosa" : 10,
    "burger" : 20,
    "pizza" : 50
}

In [18]:
dic['samosa']

10

In [19]:
dic['pizza']

50

In [20]:
dic['juice']  = [10, 20, 30]

In [21]:
dic

{'samosa': 10, 'burger': 20, 'pizza': 50, 'juice': [10, 20, 30]}

In [22]:
dic['juice']

[10, 20, 30]

In [23]:
dic['fruits'] = {
    'litchi' : 30,
    'mango' : 20,
    'banana' : 50
}

In [24]:
dic

{'samosa': 10,
 'burger': 20,
 'pizza': 50,
 'juice': [10, 20, 30],
 'fruits': {'litchi': 30, 'mango': 20, 'banana': 50}}

In [25]:
dic['fruits']['mango']

20

In [26]:
dic['random_item'] # throws an error

KeyError: 'random_item'

In [28]:
dic.get('random_item') # not throwing an error returning None

In [30]:
dic.keys() # display all the keys

dict_keys(['samosa', 'burger', 'pizza', 'juice', 'fruits'])

In [31]:
dic.values() # display all the values

dict_values([10, 20, 50, [10, 20, 30], {'litchi': 30, 'mango': 20, 'banana': 50}])